@charset "utf-8";
body, div, dl, dt, dd, ul, ol, li, h1, h2, h3, h4, h5, h6, pre, code, form, fieldset, legend, input, textarea, p, blockquote, th, td, hr, button {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
  -webkit-text-size-adjust: none;
}

html, body {
  font-family: 'STHeiti', 'Microsoft YaHei', 'Helvetica', 'Arial', sans-serif;
  background-color: #fff;
  font-size: 16px;
  height: 100%;

}

fieldset, img, a img {
  border: 0;
}
 

iframe {
  display: block;
}

abbr, acronym {
  border: 0;
  font-variant: normal;
}

del {
  text-decoration: line-through;
}

address, caption, cite, code, dfn, em, th, var {
  font-style: normal;
}

ol, ul {
  list-style: none;
}

caption, th {
  text-align: left;
}

h1, h2, h3, h4, h5, h6 {
  font-weight: normal
}

q:before, q:after {
  content: '';
}

sup {
  vertical-align: text-top;
}

sub {
  vertical-align: text-bottom;
}

ins, a {
  text-decoration: none;
}

a, input {
  -webkit-tap-highlight-color: transparent;
}

a {
  -webkit-touch-callout: none;
}

input[type=button], input[type=submit], input[type=reset] {
  -webkit-appearance: none;
}

input {
  outline: none;
}
